$gold: #ffcd00;
$black: #000000;
$white: white;
$atletico: Atletico;
$openSans: 'Open Sans', sans-serif;

@font-face {
	font-family: Atletico;
	src: url("../fonts/Atletico.otf");
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	font-weight: bold;
	color: $gold;
	font-style: italic;
}


body {

	font-family: $openSans;
	background: $black;
	scroll-behavior: smooth;
	color: white;

}