@import "./_global.scss";

nav {

	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	background: $black;
	//box-shadow: 0px 20px 20px black;
	transition: opacity 500ms ease-in-out;
	z-index: 1000000;

	.mtuLogo {

		display: flex;
		color: $gold;
		font-family: $atletico;
		text-decoration: none;
		margin: 20px 20px 0;
		font-style: normal;
		align-items: center;
		flex-direction: column;


		img {

			width: 300px;
			align-self: center;
			justify-self: center;
			max-height: 200px;
			object-fit: contain;
			display: block;

		}

		.mtuText {

			display: flex;
			flex-direction: column;
			justify-content: center;

			span {

				display: block;
				font-size: 2.5em;

			}

		}

	}

	ul {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 20px;
		justify-content: space-evenly;
		align-items: center;


		li {

			background: $gold;
			margin: 5px 0;
			border-radius: 5px;
			width: 40vw;

			a {

				text-decoration: none;
				color: $black;
				display: block;
				font-style: normal;
				width: 100%;
				text-align: center;
				padding: 10px 0;
				font-weight: bold;


			}

		}

		li .active {

			background: $white;
			border-radius: 5px;

		}

	}

	@media (min-width: 1080px) {

		.mtuLogo {

			flex-grow: 1;
			max-width: 300px;

		}

		ul {

			flex-grow: 1;
			justify-content: space-around;
			max-width: 1000px;

			li {

				width: unset;

				a {

					border-radius: 5px;
					padding: 10px 20px;
					width: unset;
					transition: background-color 250ms ease-in-out;

				}

				a:hover {

					background-color: white;

				}

			}

		}

	}

}

@media (min-width: 1080px) {

	nav {

		flex-direction: row;
		height: 20vh;
		align-items: center;
		justify-content: space-around;

	}


}