@font-face {
  font-family: Atletico;
  src: url("../fonts/Atletico.otf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffcd00;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
  color: white;
}

@font-face {
  font-family: Atletico;
  src: url("../fonts/Atletico.otf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffcd00;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  background: #000000;
  transition: opacity 500ms ease-in-out;
  z-index: 1000000;
}
nav .mtuLogo {
  display: flex;
  color: #ffcd00;
  font-family: Atletico;
  text-decoration: none;
  margin: 20px 20px 0;
  font-style: normal;
  align-items: center;
  flex-direction: column;
}
nav .mtuLogo img {
  width: 200px;
  align-self: center;
  justify-self: center;
  max-height: 140px;
  object-fit: contain;
  display: block;
}
nav .mtuLogo .mtuText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .mtuLogo .mtuText span {
  display: block;
  font-size: 2.5em;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  background: #ffcd00;
  margin: 5px 0;
  border-radius: 5px;
  width: 40vw;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
nav ul li .active {
  background: white;
  border-radius: 5px;
}
@media (min-width: 1080px) {
  nav .mtuLogo {
    flex-grow: 1;
    max-width: 300px;
  }
  nav ul {
    flex-grow: 1;
    justify-content: space-around;
    max-width: 1000px;
  }
  nav ul li {
    width: unset;
  }
  nav ul li a {
    border-radius: 5px;
    padding: 10px 20px;
    width: unset;
    transition: background-color 250ms ease-in-out;
  }
  nav ul li a:hover {
    background-color: white;
  }
}

@media (min-width: 1080px) {
  nav {
    position: sticky;
    top: 0;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
  }
}
body {
  scroll-behavior: smooth;
}
body #header-image, body #header-label, body #arrow {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}
body #header-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #header-image .header-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
body #header-image .header-content #header-label {
  font-weight: bold;
  font-family: Atletico;
  color: #ffcd00;
  border-bottom: solid #ffcd00 3px;
  font-size: 2em;
}
body #header-image .header-content #arrow {
  display: none;
}
@media (min-width: 1080px) {
  body #header-image {
    height: 80vh;
  }
  body #header-image .header-content #header-label {
    font-size: 4em;
    border-bottom: none;
    margin-bottom: 10vh;
    border-bottom: solid #ffcd00 4px;
    padding: 10px 40px;
  }
  body #header-image .header-content #arrow {
    display: block;
    margin-bottom: 5vh;
    width: 80px;
    transition: transform 250ms ease-in-out;
  }
  body #header-image .header-content #arrow:hover {
    transform: scale(1.1);
  }
}
body #wogrammer-container {
  width: 100%;
}
body #wogrammer-container #wogrammer {
  width: 100%;
  height: 600px;
  border: none;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section {
  width: 80vw;
}
body main section h2 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid #ffcd00 2px;
  padding: 5px 0;
  margin: 20px 0 10px;
  color: #ffcd00;
}
body main section p {
  letter-spacing: 1.125px;
  line-height: 1.5;
  text-align: left;
}
body main section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px 0 100px 20px;
}
body main section article img {
  width: 60vw;
  margin-bottom: 10px;
  max-height: 300px;
  object-fit: contain;
}
body main section article p {
  text-align: left;
}
@media (min-width: 1080px) {
  body main section {
    width: 50vw;
    margin: 40px 0;
  }
  body main section h2 {
    font-size: 3em;
    padding: 10px 0;
  }
  body main section p {
    margin-top: 20px;
    font-size: 1.25em;
  }
  body main section article {
    display: grid;
    grid-template-columns: 200px 40px auto;
    align-items: start;
  }
  body main section article img {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 0;
  }
  body main section article p {
    margin-top: 0;
    grid-column: 3;
  }
}
body main .projects ul {
  list-style: none;
}
body main .projects ul li {
  margin: 20px 0;
}
body main .projects ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .projects ul li a img {
  width: 60vw;
}
body main .projects ul li a span {
  text-align: left;
  letter-spacing: 1.125px;
  line-height: 1.5;
}
@media (min-width: 1080px) {
  body main .projects ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  body main .projects ul li {
    width: 30%;
  }
  body main .projects ul li a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  body main .projects ul li a span {
    margin-top: 10px;
    letter-spacing: 1.125px;
    line-height: 1.5;
  }
}

@media (min-width: 1400px) {
  span, p {
    text-align: justify;
  }
}

/*# sourceMappingURL=index.css.map */
