@import "./_global.scss";



body {

	font-family: $openSans;
	background: $black;

	nav {

		$inset: 40px;

		background: $black;
		color: $gold;
		padding: 0 $inset;
		height: 15vh;
		display: grid;
		align-items: center;
		grid-template-columns: 20% 80%;

		.mtuLogo {

			display: flex;
			align-items: center;
			justify-content: flex-start;

			img {

				width: 80px;

			}

			.mtuText {

				margin-left: 20px;
				font-size: 1.5em;
				font-family: $atletico;
				display: flex;
				flex-direction: column;

			}

		}

		ul {

			list-style: none;
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;

			li {

				a {

					text-decoration: none;
					color: $black;
					background-color: $gold;
					padding: 10px 20px;
					margin: 10px;
					font-weight: bold;
					border-radius: 5px;
					transition: background-color 250ms ease-in-out;


				}

				.active {

					background-color: $white;

				}

				a:hover {

					background-color: $white;

				}

			}

		}

	}

	header {

		height: 85vh;
		background:
				linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.75) 10vh,rgba(0,0,0,1)) 110vh,
				url("../img/home-header.jpg") no-repeat center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		color: $gold;

		.header-content {

			border-left: $gold solid 5px;
			padding-left: 20px;
			margin-left: 15vw;

			h1 {

				font-family: $atletico;
				text-align: right;
				font-size: 6em;

			}

			span {
				display: block;
				font-family: $openSans;
				font-style: italic;
				font-size: 1.5em;
				margin-top: 20px;
			}

		}

	}

	main {

		color: $gold;
		font-family: $openSans;
		width: 50vw;
		margin-left: 25vw;
		font-size: 1.25em;

		section {

			margin: 80px 0;

			h2 {

				font-weight: bold;
				font-size: 2em;
				text-transform: uppercase;
				margin: 20px 0;
				border-bottom: solid $gold 1px;

			}

			a {
				color: $gold;
				font-weight: bold;
				font-style: italic;
				text-underline: $gold;
			}

			article {

				margin: 80px 0;
				display: grid;
				grid-template-columns: 200px 40px auto;
				align-items: start;

				img {
					margin-top: 6px;
					width: 200px;
				}

				p {
					grid-column: 3
				}

			}

		}
	}

	.projects {

		ul {

			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 40px;

			li {

				a {

					display: flex;
					flex-direction: column;
					align-items: center;

					img {

						width: 200px;
					}

					span {

						text-align: center;

					}

				}

			}

		}

	}

}