@import "./_global.scss";
@import "./_nav.scss";

main {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	.container {

		width: 80vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;


	}

}

li {
	margin: 4px 0 4px 40px;
}

h2, h3 {
	font-family: $atletico;
	color: $gold;
	text-transform: uppercase;
}


h2 {
	margin: 40px 0;
}

h3 {
	margin: 40px 0 10px;
}

.btn {

	color: $black;
	background-color: $gold;
	font-style: normal;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	width: 200px;
	text-align: center;
	border-radius: 10px;
	align-self: center;
	margin: 40px 0;

}

@media (min-width: 1080px) {

	.btn {

		transition: transform 250ms ease-in-out, background 250ms ease-in-out;

	}

	.btn:hover {

		transform: scale(1.1);
		background: white;

	}

	main {

		.container {

			width: 60vw;

		}

		li, p {

			font-size: 1.25em;

		}

	}

	h2 {

		font-size: 3em;

	}

	h3 {

		font-size: 2em;

	}



}