@import "./_global.scss";
@import "./_nav.scss";

.container {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	main {

		width: 80vw;
		

	}

}

li {
	margin: 4px 0 4px 40px;
}

h2, h3 {
	font-family: $atletico;
	color: $gold;
	text-transform: uppercase;
}


h2 {
	margin: 40px 0;
}

h3 {
	margin: 40px 0 10px;
}

@media (min-width: 1080px) {

	main {

		width: 60vw;

		li, p {

			font-size: 18px;

		}

	}

	h2 {

		font-size: 3em;

	}

	h3 {

		font-size: 2em;

	}



}