@font-face {
  font-family: Atletico;
  src: url("../fonts/Atletico.otf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffcd00;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
  color: white;
}

@font-face {
  font-family: Atletico;
  src: url("../fonts/Atletico.otf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffcd00;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background: #000000;
  box-shadow: 0px 20px 20px black;
}
nav .mtuLogo {
  display: flex;
  color: #ffcd00;
  font-family: Atletico;
  text-decoration: none;
  margin: 20px 20px 0;
  font-style: normal;
}
nav .mtuLogo img {
  width: 300px;
  margin: 0 40px;
  max-height: 200px;
  object-fit: contain;
}
nav .mtuLogo .mtuText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .mtuLogo .mtuText span {
  display: block;
  font-size: 2.5em;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  background: #ffcd00;
  margin: 5px 0;
  border-radius: 5px;
  width: 40vw;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
nav ul li .active {
  background: white;
  border-radius: 5px;
}
@media (min-width: 1080px) {
  nav .mtuLogo {
    flex-grow: 1;
  }
  nav ul {
    flex-grow: 1;
    justify-content: space-around;
  }
  nav ul li {
    width: unset;
  }
  nav ul li a {
    border-radius: 5px;
    padding: 10px 20px;
    width: unset;
    transition: background-color 250ms ease-in-out;
  }
  nav ul li a:hover {
    background-color: white;
  }
}

@media (min-width: 1080px) {
  nav {
    flex-direction: row;
    height: 20vh;
    align-items: center;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container {
  width: 80vw;
}
main .container section {
  margin: 60px 0;
}
main .container section h2 {
  color: #ffcd00;
  font-family: Atletico;
}
main .container section article {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}
main .container section article .left {
  margin: 10px 0;
}
main .container section article .left .title {
  display: block;
  color: #ffcd00;
  margin-bottom: 8px;
  text-transform: capitalize;
}
main .container section article .left .author {
  display: block;
}
main .container section article .link {
  display: block;
  text-decoration: none;
  font-style: normal;
  color: #000000;
  background: #ffcd00;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  align-self: center;
}

@media (min-width: 1080px) {
  main .container {
    width: 60vw;
  }
  main .container section h2 {
    font-size: 3em;
  }
  main .container section article {
    display: grid;
    grid-template-columns: auto 220px;
    margin: 80px 0;
  }
  main .container section article .left {
    margin: 0 20px;
  }
  main .container section article .left .title {
    font-size: 1.75em;
  }
  main .container section article .left .author {
    font-size: 1.25em;
  }
  main .container section article .link {
    transition: transform 250ms ease-in-out, background 250ms ease-in-out;
  }
  main .container section article .link:hover {
    transform: scale(1.1);
    background: white;
  }
}

/*# sourceMappingURL=publications.css.map */
