@font-face {
  font-family: Atletico;
  src: url("../fonts/Atletico.otf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffcd00;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
  color: white;
}

@font-face {
  font-family: Atletico;
  src: url("../fonts/Atletico.otf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffcd00;
  font-style: italic;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #000000;
  scroll-behavior: smooth;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  background: #000000;
  transition: opacity 500ms ease-in-out;
  z-index: 1000000;
}
nav .mtuLogo {
  display: flex;
  color: #ffcd00;
  font-family: Atletico;
  text-decoration: none;
  margin: 20px 20px 0;
  font-style: normal;
  align-items: center;
  flex-direction: column;
}
nav .mtuLogo img {
  width: 300px;
  align-self: center;
  justify-self: center;
  max-height: 200px;
  object-fit: contain;
  display: block;
}
nav .mtuLogo .mtuText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .mtuLogo .mtuText span {
  display: block;
  font-size: 2.5em;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  background: #ffcd00;
  margin: 5px 0;
  border-radius: 5px;
  width: 40vw;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
nav ul li .active {
  background: white;
  border-radius: 5px;
}
@media (min-width: 1080px) {
  nav .mtuLogo {
    flex-grow: 1;
    max-width: 300px;
  }
  nav ul {
    flex-grow: 1;
    justify-content: space-around;
    max-width: 1000px;
  }
  nav ul li {
    width: unset;
  }
  nav ul li a {
    border-radius: 5px;
    padding: 10px 20px;
    width: unset;
    transition: background-color 250ms ease-in-out;
  }
  nav ul li a:hover {
    background-color: white;
  }
}

@media (min-width: 1080px) {
  nav {
    position: sticky;
    top: 0;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container {
  width: 80vw;
}
main .container section {
  margin: 40px 0;
}
main .container section h2 {
  font-family: Atletico;
  color: #ffcd00;
  border-bottom: solid #ffcd00 4px;
  padding-bottom: 5px;
}
main .container section .subtitle {
  margin: 10px 0;
}
main .container section article {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}
main .container section article h3 {
  color: #ffcd00;
  margin-bottom: 10px;
}
main .container section article p {
  text-align: justify;
}
main .container section article img {
  width: 80%;
  max-height: 40vh;
  object-fit: contain;
  align-self: center;
  margin: 20px 0;
}
main .container section article .paper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
main .container section article .paper span {
  display: block;
}
main .container section article .paper a {
  display: block;
}

@media (min-width: 1080px) {
  main .container {
    width: 60vw;
  }
  main .container section h2 {
    font-size: 3em;
  }
  main .container section .subtitle {
    font-size: 1.25em;
  }
  main .container section article h3 {
    font-size: 2em;
  }
  main .container section article p {
    font-size: 1.25em;
  }
  main .container section article img {
    width: 60%;
  }
}

/*# sourceMappingURL=research.css.map */
